# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/backend/Dilon.Web.Entry/Logs
/backend/.vs
/backend/Dilon.Web.Entry/publish
/backend/Dilon.Database.Migrations/Migrations
/backend/Dilon.Web.Entry/Properties/PublishProfiles
/backend/Dilon.Core/Dilon.Core.csproj.user
/backend/Dilon.Web.Entry/Dilon.Web.Entry.csproj.user
/.vs
