using System;
using SqlSugar;
using System.ComponentModel;
using System.ComponentModel.DataAnnotations;
using CVC.NHDS.Core;
namespace @Model.NameSpace
{
    /// <summary>
    /// @(@Model.Description)
    /// </summary>
    [SugarTable("@(@Model.TableName)","@(@Model.Description)")]
    [Tenant("@(@Model.ConfigId)")]
    public class @(@Model.EntityName) @Model.BaseClassName
    {
@foreach (var column in Model.TableField){
if(@Model.BaseClassName=="" && @column.IsPrimarykey){
        @:/// <summary>
        @:/// @column.ColumnDescription
        @:/// </summary>
        if(!@column.IsNullable){
        @:[Required]
        }
        if(@column.DataType=="string"&&@column.Length<int.MaxValue){
        @:[MaxLength(@column.Length)]
        }
        @:[SugarColumn(IsIdentity = @column.IsIdentity.ToString().ToLower(), ColumnDescription = "@column.ColumnDescription", IsPrimaryKey = true)]
        @:public @column.DataType @column.DbColumnName { get; set; }
}
else if(@Model.BaseClassName=="" && !@column.IsPrimarykey){
        @:/// <summary>
        @:/// @column.ColumnDescription
        @:/// </summary>
        if(!@column.IsNullable){
        @:[Required]
        }
        if(@column.DataType=="string"&&@column.Length<int.MaxValue){
        @:[MaxLength(@column.Length)]
        }
        @:[SugarColumn(ColumnDescription = "@column.ColumnDescription")]
        @:public @column.DataType @column.DbColumnName { get; set; }
}
else if(@Model.BaseClassName!="" && @column.IsPrimarykey && @column.DbColumnName.ToLower()!="id"){
        @:/// <summary>
        @:/// @column.ColumnDescription
        @:/// </summary>
        if(!@column.IsNullable){
        @:[Required]
        }
        if(@column.DataType=="string"&&@column.Length<int.MaxValue){
        @:[MaxLength(@column.Length)]
        }
        @:[SugarColumn(IsIdentity = @column.IsIdentity.ToString().ToLower(), ColumnDescription = "@column.ColumnDescription", IsPrimaryKey = true)]
        @:public @column.DataType @column.DbColumnName { get; set; }
}
else if(@Model.BaseClassName!="" && !@column.IsPrimarykey && @column.DbColumnName.ToLower()!="id"){
        @:/// <summary>
        @:/// @column.ColumnDescription
        @:/// </summary>
        if(!@column.IsNullable){
        @:[Required]
        }
        if(@column.DataType=="string"&&@column.Length<int.MaxValue){
        @:[MaxLength(@column.Length)]
        }
        @:[SugarColumn(ColumnDescription = "@column.ColumnDescription")]
        @:public @column.DataType @column.DbColumnName { get; set; }
}
}
    }
}