using Microsoft.AspNetCore.Mvc;
using System.Threading.Tasks;

namespace Dilon.Application
{
    public interface ITestBusService
    {
        Task Add(AddTestBusInput input);
        Task Delete(DeleteTestBusInput input);
        Task<TestBus> Get([FromQuery] QueryeTestBusInput input);
        Task<dynamic> List([FromQuery] TestBusInput input);
        Task<dynamic> QueryAppPageList([FromQuery] TestBusInput input);
        Task Update(UpdateTestBusInput input);
    }
}