using System;
using Covid19.Core;

namespace @Model.NameSpace
{
    /// <summary>
    /// @(@Model.BusName)输出参数
    /// </summary>
    public class @(@Model.ClassName)Dto
    {
@foreach (var column in Model.TableField){
if(@column.EffectType == "fk" && @column.FkEntityName != "" && @column.FkColumnName != ""){
        @:/// <summary>
        @:/// @column.ColumnComment
        @:/// </summary>
        @:public @(@column.FkColumnNetType) @(@column.FkEntityName)@(@column.FkColumnName) { get; set; }
        @:
}
}
@foreach (var column in Model.TableField){
        @:/// <summary>
        @:/// @column.ColumnComment
        @:/// </summary>
        @:public @column.NetType @column.ColumnName { get; set; }
        @:
}
    }
}
