//hack列表页
.layout-parent {
  height: 0;

  // Table页自动撑满页面
  >div:first-child {
    display: flex;
    flex-direction: column;
    height: 100%;

    .el-card:nth-child(2) {
      flex: 1;

      .el-card__body {
        height: 100%;
        display: flex;
        flex-direction: column;

        .el-table {
          flex: 1;
        }

        .el-pagination {
          display: flex;

          >span:first-child {
            flex: 1;
            text-align: right;
          }
        }
      }
    }
  }

  //搜索区域Label固定宽度
  .el-form-item__label {
    width: 70px;
  }

  //搜索区域控件宽度默认撑满
  .el-form-item {
    width: 100%;

    .el-select {
      width: 100%
    }
  }

  //搜索区域按钮布局
  .search-actions {
    display: flex;

    >div:first-child {
      flex: 1;
    }
  }
}